<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Account Creation Screen</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Create Account</h1>
        <form action="#" th:action="@{/account}" th:object="${userModel}" method="post">
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" th:field="*{username}" /></td>
                    <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Please enter a Username</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Please enter a Password</td>
                </tr>
            </table>
            <p><input type="submit" value="Submit" /></p>
        </form>
    </body>
</html>
