<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

            <head>
                <meta name="_csrf" th:content="${_csrf.token}"/>
                <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script th:src="@{/tenuki.js}"></script>
                <link rel="stylesheet" type="text/css" th:href="@{/tenuki.css}"/>

                <link rel="stylesheet" type="text/css" th:href="@{/controls.css}"/>
                <script th:src="@{/controls.js}"></script>
            </head>

            <div class="tenuki-board" data-include-coordinates=true></div>

            <div class="controls">
                <div class="buttons">
                    <a class="pass" href="#">Pass</a>

                </div>

                <div class="game-info"><p>&nbsp;</p></div>
                <div class="text-info"><p></p></div>

                </html>
                <script>
                    var boardElement = document.querySelector(".tenuki-board");
                    var game = new tenuki.Game({element: boardElement, boardSize: 9});
                    var controlElement = document.querySelector(".controls");
                    var controls = new GameControls(controlElement, game);
                    controls.setup();

                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");
                    var jsonData = [];
                    
                    $.ajax({
                            type: 'POST',
                            url: '/board9',
                            data: JSON.stringify(jsonData),
                            contentType: "application/json",
                        });

                        $(document).ajaxSend(function (e, xhr, options) {
                            xhr.setRequestHeader(header, token);
                        });


                    setInterval(function ajaxGET() {
                        $.ajax({
                            type: 'GET',
                            url: 'data9.json',
                            success: function (data) {
                                jsonData = data;
                                game.playAt(jsonData[0], jsonData[1]);
                                game.render();
                            }
                        });
                    }, 1000);


                    game.callbacks.postRender = function (game) {
                        controls.updateStats();

                        var moveY = game.currentState().playedPoint.y;
                        var moveX = game.currentState().playedPoint.x;
                        jsonData = [moveY, moveX];
                        $.ajax({
                            type: 'POST',
                            url: '/board9',
                            data: JSON.stringify(jsonData),
                            contentType: "application/json",
                        });

                        $(document).ajaxSend(function (e, xhr, options) {
                            xhr.setRequestHeader(header, token);
                        });

                    };
                </script>