<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

            <head>
                <meta name="_csrf" th:content="${_csrf.token}"/>
                <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script th:src="@{/tenuki.js}"></script>
                <link rel="stylesheet" type="text/css" th:href="@{/tenuki.css}"/>

                <link rel="stylesheet" type="text/css" th:href="@{/controls.css}"/>
                <script th:src="@{/controls.js}"></script>
            </head>

            <div class="tenuki-board" data-include-coordinates=true></div>

            <button id="black" onclick="playBlack()">Play as Black</button>
            <button id="white" onclick="playWhite()">Play as White</button>
            <p id="playerColor"</p>

            <div class="controls">
                <div class="buttons">
                    <a class="pass" href="#">Pass</a>

                </div>

                <div class="game-info"><p>&nbsp;</p></div>
                <div class="text-info"><p></p></div>

                </html>
                <script>
                    var boardElement = document.querySelector(".tenuki-board");
                    var game = new tenuki.Game({element: boardElement, boardSize: 9});
                    var controlElement = document.querySelector(".controls");
                    var controls = new GameControls(controlElement, game);
                    controls.setup();

                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");

                    var jsonData = [];
                    var color;

                    var passStatus = controls.checkPass();

                    function playBlack() {
                        document.getElementById("playerColor").innerHTML = "  Playing as Black";
                        document.getElementById("black").style.display = 'none';
                        document.getElementById("white").style.display = "none";
                        color = "black";
                        game.myTurn = true;
                    }

                    function playWhite() {
                        document.getElementById("playerColor").innerHTML = "  Playing as White";
                        document.getElementById("black").style.display = 'none';
                        document.getElementById("white").style.display = "none";
                        color = "white";
                        game.myTurn = false;
                    }

                    $(document).ajaxSend(function (e, xhr, options) {
                        xhr.setRequestHeader(header, token);
                    });
                    setInterval(function ajaxFunction() {
                        $.ajax({
                            type: 'GET',
                            url: 'data9.json',
                            success: function (data) {
                                jsonData = data;
                                if (jsonData[0] !== color && jsonData[1] === true) {
                                    game.pass({render: false});
                                    jsonData = [color, false];
                                    $.ajax({
                                        type: 'POST',
                                        url: '/board',
                                        data: JSON.stringify(jsonData),
                                        contentType: "application/json",
                                    });
                                    controls.updateStats();
                                    game.myTurn = true;
                                }
                                if
                                        (game.playAt(jsonData[0], jsonData[1])) {
                                    game.myTurn = true;
                                }
                            }
                        });
                    }, 1000);

                    game.callbacks.postRender = function (game) {
                        game.myTurn = !game.myTurn;

                        var moveY;
                        var moveX;
                        controls.updateStats();
                        passStatus = controls.checkPass();

                        if (passStatus === false) {
                            moveY = game.currentState().playedPoint.y;
                            moveX = game.currentState().playedPoint.x;
                            jsonData = [moveY, moveX];
                            $.ajax({
                                type: 'POST',
                                url: '/board',
                                data: JSON.stringify(jsonData),
                                contentType: "application/json",
                            });
                        }
                        if (passStatus === true) {
                            jsonData = [color, passStatus];
                            $.ajax({
                                type: 'POST',
                                url: '/board',
                                data: JSON.stringify(jsonData),
                                contentType: "application/json",
                            });
                        }
                    };
                </script>