<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:src="@{/tenuki.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/tenuki.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/controls.css}"/>
    <script th:src="@{/controls.js}"></script>
</head>

<div class="tenuki-board" data-include-coordinates=true></div>

<div class="controls">
    <div class="buttons">
        <a class="pass" href="#">Pass</a>

    </div>

    <div class="game-info"><p>&nbsp;</p></div>
    <div class="text-info"><p></p></div>

    <button type="button" onclick="ajaxFunction()">Click me </button>


    <script>
        var boardElement = document.querySelector(".tenuki-board");
        var game = new tenuki.Game({element: boardElement});
        var controlElement = document.querySelector(".controls");
        var controls = new GameControls(controlElement, game);
        controls.setup();


        function ajaxFunction() {
            $.ajax({
                type: 'GET',
//                    url: '/board',
                url: 'data.json',
//                    data: JSON.stringify(controls),
                success: function (data) {
                    alert('updated');
                    game = data;
                    controls = new GameControls(controlElement, game);
                    controls.setup();
                    game.render();


                }
            });

        }

        game.callbacks.postRender = function (game) {

            controls.updateStats();

            $.ajax({
                type: 'POST',
                url: '/board',
                data: JSON.stringify(game),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (data) {
//                    controls = JSON.parse(data);
                    alert('updated');
                },
                error: function () {
                    alert('error');
                }

            });
        };
    </script>