<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head> 
        <title>User Login Screen</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Login</h1>
        <!--        <form action="#" th:action="@{/login}" th:object="${userModel}" method="post">
                    <table>
                        <tr>
                            <td>Username:</td>
                            <td><input type="text" th:field="*{username}" /></td>
                            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Invalid Username</td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td><input type="password" th:field="*{password}" /></td>
                            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Invalid Password</td>
                        </tr>
                    </table>
                    <p><input type="submit" value="Login" /></p>
                </form>-->
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        <form action="/account">
            <input type="submit" value="Create Account" />
        </form>
    </body>
</html>
